*{
  box-sizing: border-box;
  font-family: sans-serif;
}

nav {
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.nav_list > li {
  list-style: none;
  display: inline-block;
  padding-right: 6px;
}

.red {
  color: red;
}
