*{
  box-sizing: border-box;
  font-family: sans-serif;
}

nav {
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.nav_list > li {
  list-style: none;
  display: inline-block;
  padding-right: 6px;
}

.red {
  color: red;
}

.secrets_wrap {
  width: 30%;
  display: inline-block;
  margin: auto;
}

.btn {
  background-color: white;
  border: 1px solid grey;
  border-radius: 4px;
  color: grey;
  padding: 4px;
  margin-left: 12px;
}

.secrets_liked {
  width: 30%;
  display: inline-block;
  margin: auto;
  vertical-align: top;
}


.create_form > input[type="submit"] {
  background-color: purple;
  border: 1px solid purple;
  border-radius: 4px;
  color: white;
  padding: 4px;
}

.logout_btn {
  background-color: grey;
  border: 1px solid grey;
  border-radius: 4px;
  color: white;
  padding: 4px;
}

.like {
  background-color: #F1C40F;
  border: 1px solid #F1C40F;
  border-radius: 4px;
  color: white;
  padding: 4px;
  width: 50px;
}

.unlike {
  background-color: #9BB5C6;
  border: 1px solid #AEB6BF;
  border-radius: 4px;
  color: white;
  padding: 4px;
  width: 50px;
}

.btn_wrap {
  display: flex;
  margin: 2px;
  flex-wrap: wrap;
  padding: 4px;
}

.btn_wrap > p {
  margin-bottom: 2px;
  margin-top: 4px;
  margin-right: 6px;
  color: grey;
}
.like,
.unlike {
  margin: 2px;
}

.content_wrap {
  border-bottom: 1px solid grey;
  width: 30%;
  padding: 20px;
  list-style: none;
}

.dlt_btn{
  background-color: #943126;
  border: 1px solid #943126;
  border-radius: 4px;
  color: white;
  padding: 6px;
  margin-top: 4px;
}

.updt_btn {
  background-color: #2E86C1;
  border: 1px solid #2E86C1;
  border-radius: 4px;
  color: white;
  padding: 4px;
  width: 72px;

}
